@import url(owl.carousel.css);
@import url(owl.carousel.min.css);
@import url(owl.theme.default.min.css);
@import url(owl.theme.default.css);
@import url(mobile.menu.css);
@import url(main.css);
@import url(media.css);
body {
  background-color: #F4EFE9; }

header {
  background-color: #F4EFE9;
  padding: 40px 0; }
  header .header {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  header .overlay-navigation #navigation {
    display: flex;
    list-style: none; }
  header .overlay-navigation nav ul li {
    margin-left: 40px; }
  header .item_link {
    text-decoration: none;
    color: #1E1928;
    font-family: Inter;
    font-size: 13px;
    font-style: normal; }

.sectone {
  background-color: #F4EFE9;
  padding-bottom: 196px;
  box-sizing: border-box; }
  .sectone .pict {
    max-width: 564px; }
    .sectone .pict img {
      padding-top: 153px;
      width: 100%; }
  .sectone .section1 {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between; }
    .sectone .section1 article {
      max-width: 549px; }
      .sectone .section1 article h1 {
        color: #1E1928;
        margin-bottom: 21px;
        font-family: Roboto;
        font-size: 48px;
        font-style: normal;
        font-weight: 400;
        line-height: 58px; }
      .sectone .section1 article .empat {
        color: rgba(30, 25, 40, 0.8);
        margin-bottom: 4px;
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px;
        /* 187.5% */
        letter-spacing: 0.252px; }
      .sectone .section1 article .empat2 {
        color: rgba(30, 25, 40, 0.8);
        margin-bottom: 28px;
        font-family: Inter;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px;
        /* 166.667% */
        letter-spacing: 0.252px; }
      .sectone .section1 article .emp3 {
        margin-bottom: 24px;
        color: #1E1928;
        font-family: Inter;
        font-size: 17px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px;
        /* 176.471% */
        letter-spacing: 0.252px; }
      .sectone .section1 article form {
        padding: 8px 12px;
        border-radius: 9999px;
        background: #FFF;
        display: flex;
        max-width: 448px;
        justify-content: space-between; }
        .sectone .section1 article form input {
          width: 180px;
          border: none;
          background-color: transparent;
          padding: 10px 19px;
          color: #1e1928; }
        .sectone .section1 article form .buton1 {
          width: 179px;
          height: 40px;
          padding: 10px 32px;
          border-radius: 9999px;
          background: #1E1928;
          flex-shrink: 0;
          color: #F4EFE9;
          text-align: center;
          font-family: Inter;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 20px;
          /* 142.857% */ }

.beig {
  min-height: 700px;
  background-color: #FFD394;
  background-image: url(images/F2.png);
  background-position: bottom -240px left 0px;
  background-repeat: no-repeat;
  box-sizing: border-box;
  position: relative; }
  .beig .container {
    padding-top: 80px;
    padding-bottom: 80px;
    min-height: 380px;
    top: -190px;
    position: absolute;
    text-align: center;
    max-width: 1200px;
    width: 100%;
    background-color: #fff;
    left: calc(50% - 600px); }
    .beig .container .cent {
      color: #1E1928;
      text-align: center;
      font-family: Roboto;
      font-size: 32px;
      font-style: normal;
      font-weight: 400;
      line-height: 42px;
      /* 131.25% */
      margin-bottom: 28px; }
    .beig .container .hub {
      max-width: 653px;
      color: rgba(30, 25, 40, 0.8);
      font-family: Inter;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 30px;
      /* 166.667% */
      letter-spacing: 0.252px;
      text-align: center;
      margin: auto;
      margin-bottom: 30px; }
    .beig .container .buton2 {
      display: inline-block;
      color: #000;
      color: #1E1928;
      text-align: center;
      padding: 10px;
      font-family: Inter;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px;
      /* 142.857% */
      text-decoration: none;
      min-width: 142px;
      height: 40px;
      flex-shrink: 0;
      border-radius: 9999px;
      border: 1px solid #1E1928; }
  .beig .d-flex {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    max-width: 1200px;
    padding-top: 270px;
    margin: auto; }
    .beig .d-flex .wo {
      color: #1E1928;
      font-family: Roboto;
      font-size: 48px;
      font-style: normal;
      font-weight: 700;
      line-height: 58px; }
    .beig .d-flex .weird {
      display: flex;
      flex-direction: column;
      list-style: none;
      max-width: 600px;
      box-sizing: border-box; }
      .beig .d-flex .weird li {
        display: flex;
        flex-direction: row;
        color: rgba(30, 25, 40, 0.8);
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        /* 150% */
        letter-spacing: 0.176px;
        padding-bottom: 46px; }
        .beig .d-flex .weird li h3 {
          color: #1E1928;
          font-family: Inter;
          font-size: 17px;
          font-style: normal;
          font-weight: 700;
          line-height: 26px;
          /* 152.941% */
          letter-spacing: 0.252px;
          padding-bottom: 10px; }
        .beig .d-flex .weird li:first-of-type:before {
          display: inline-block;
          content: "";
          background-image: url(../images/Frame1.png);
          background-repeat: no-repeat;
          width: 40px;
          height: 40px;
          padding-right: 40px; }
        .beig .d-flex .weird li:nth-child(2):before {
          display: inline-block;
          content: "";
          background-image: url(../images/Frame2.png);
          width: 40px;
          height: 40px;
          padding-right: 50px;
          background-repeat: no-repeat; }
        .beig .d-flex .weird li:last-of-type:before {
          display: inline-block;
          content: "";
          background-image: url(../images/Frame3.png);
          width: 40px;
          height: 40px;
          padding-right: 50px;
          background-repeat: no-repeat; }

.huge {
  background-color: #F4EFE9;
  padding-top: 80px;
  padding-bottom: 80px; }
  .huge .huge1 .container_4 p {
    max-width: 587px; }
  .huge .huge2 .container_4 p {
    max-width: 597px; }
  .huge .huge3 .container_4 p {
    max-width: 591px; }
  .huge .huge4 .container_4 p {
    max-width: 599px; }
  .huge .huge5 .container_4 p {
    max-width: 597px; }
  .huge article {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 1200px;
    margin: auto;
    margin-bottom: 80px; }
    .huge article .container_4 {
      max-width: 600px; }
  .huge h4 {
    color: #1E1928;
    text-align: right;
    font-family: Roboto;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 42px;
    /* 131.25% */
    margin-bottom: 28px; }
  .huge p {
    color: rgba(30, 25, 40, 0.8);
    text-align: right;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 166.667% */
    letter-spacing: 0.252px; }
  .huge .huge1 img {
    padding-top: 98px; }
  .huge .huge2, .huge .huge4 {
    flex-direction: row-reverse; }
  .huge .huge2 h4, .huge .huge4 h4 {
    text-align: left; }
  .huge .huge2 p, .huge .huge4 p {
    color: rgba(30, 25, 40, 0.8);
    text-align: left; }

.lot {
  background-color: #F4EFE9;
  padding-top: 144px;
  padding-bottom: 402px;
  text-align: center; }
  .lot h4 {
    margin-bottom: 80px;
    color: #1E1928;
    text-align: center;
    font-family: Inter;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    /* 152.941% */
    letter-spacing: 0.252px; }
  .lot .pics {
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px; }
    .lot .pics img {
      width: 144px;
      height: 160px; }
  .lot a {
    text-decoration: none;
    height: 40px;
    padding: 10px 33px;
    border-radius: 9999px;
    border: 1px solid #1E1928;
    color: #1E1928;
    text-align: center;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    /* 142.857% */ }

.violet {
  position: relative;
  background-color: #592141;
  padding-top: 402px;
  padding-bottom: 184px; }
  .violet .white-box {
    background-color: #fff;
    max-width: 1200px;
    width: 100%;
    position: absolute;
    padding-top: 80px;
    padding-bottom: 76px;
    top: -158px;
    left: calc(50% - 600px); }
    .violet .white-box h4 {
      color: #1E1928;
      margin-bottom: 28px;
      text-align: center;
      font-family: Roboto;
      font-size: 32px;
      font-style: normal;
      font-weight: 400;
      line-height: 42px;
      /* 131.25% */ }
    .violet .white-box p {
      margin: auto;
      text-align: center;
      max-width: 662px;
      color: rgba(30, 25, 40, 0.8);
      font-family: Inter;
      font-size: 17px;
      font-style: normal;
      font-weight: 400;
      line-height: 30px;
      /* 176.471% */
      letter-spacing: 0.252px; }
  .violet .viol {
    max-width: 828px;
    margin: auto; }
    .violet .viol h5 {
      margin-bottom: 36px;
      color: #F4EFE9;
      text-align: center;
      font-family: Inter;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 30px;
      /* 187.5% */
      letter-spacing: 0.252px; }
    .violet .viol .quotes {
      color: #F4EFE9;
      text-align: center;
      font-family: Roboto;
      font-size: 96px;
      font-style: normal;
      font-weight: 400;
      line-height: 96px;
      /* 100% */ }
    .violet .viol .interview {
      margin-bottom: 32px;
      color: #F4EFE9;
      text-align: center;
      font-family: Roboto;
      font-size: 30px;
      font-style: normal;
      font-weight: 400;
      line-height: 36px;
      /* 120% */ }
    .violet .viol .name {
      color: #F4EFE9;
      text-align: center;
      font-family: Inter;
      font-size: 15px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px;
      /* 160% */ }

.faq {
  padding: 100px;
  background-color: #fff; }
  .faq .ui-accordion .ui-accordion-header.ui-state-active {
    border: none; }
  .faq .ui-accordion .ui-icon {
    width: 30px;
    height: 30px; }
  .faq .ui-accordion .ui-accordion-header.ui-state-active {
    border-top: 1px solid #000;
    border-right: 1px solid #000;
    border-left: 1px solid #000;
    font-family: 'Roboto', sans-serif;
    border-radius: 15px 15px 0 0;
    background-color: #f8f3db;
    margin-bottom: 0; }
  .faq .ui-accordion .ui-accordion-content {
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
    border-left: 1px solid #000;
    border-radius: 0 0 15px 15px;
    background-color: #f8f3db;
    font-family: Roboto;
    margin-bottom: 20px; }
    .faq .ui-accordion .ui-accordion-content p {
      padding-bottom: 20px; }
  .faq .ui-accordion .ui-accordion-header {
    position: relative;
    border-radius: 15px;
    background-color: #fff;
    margin-bottom: 20px;
    font-family: Roboto; }
  .faq .ui-accordion .ui-accordion-header-icon {
    background-position: 0;
    background-image: none;
    position: absolute;
    right: 40px;
    top: 10px; }
    .faq .ui-accordion .ui-accordion-header-icon:after {
      display: block;
      content: "";
      background-image: url(../images/arrow.png);
      width: 30px;
      height: 30px;
      background-repeat: no-repeat; }

h3 {
  color: #000;
  font-family: 'Roboto', sans-serif;
  font-size: 65px;
  font-style: normal; }

.container_2 {
  max-width: 1200px;
  margin: auto; }
  .container_2 h4 {
    color: #1E1928;
    margin-bottom: 28px;
    text-align: center;
    font-family: Roboto;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 42px;
    /* 131.25% */ }
  .container_2 .accordion h3 {
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: 65px;
    font-style: normal; }

.as_seen_on {
  background-color: #EDE6DD;
  padding-top: 144px;
  padding-bottom: 140px; }
  .as_seen_on h5 {
    color: #1E1928;
    text-align: center;
    font-family: Roboto;
    font-size: 31px;
    font-style: normal;
    font-weight: 400;
    line-height: 42px;
    /* 135.484% */
    text-align: center;
    margin-bottom: 68px; }
  .as_seen_on .container_3 {
    display: flex;
    justify-content: space-around; }
