* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'robotoregular';
    src: url('../fonts/roboto-regular-webfont.eot');
    src: url('../fonts/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/roboto-regular-webfont.woff2') format('woff2'),
    url('../fonts/roboto-regular-webfont.woff') format('woff'),
    url('../fonts/roboto-regular-webfont.ttf') format('truetype'),
    url('../fonts/roboto-regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

.body {
    background-color: #F4EFE9;
}

.header {
    padding: 40px 0;
    background-color: #EDE6DD;
}

.container {
    max-width: 1200px;
    margin: auto;
}

.d-flex {
    display: flex;
    justify-content: space-between;
}

.nav_menu li a {
    text-decoration: none;
    font-family: Inter, serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: black;

}

.nav_menu {
    display: flex;
    list-style: none;
}

.nav_menu li {
    margin-left: 40px;
}

.last_li {
    font-family: Inter, serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    text-decoration: none;
    color: #1E1928;
}

.first_section {
    padding-bottom: 196px;
    background-color: #EDE6DD;
    padding-top: 80px;
}

.first_section .container {
    max-width: 1280px;
}

.main_banner_image_div {
    max-width: 564px;
    padding-top: 73px;
}

.main_banner_image {
    display: block;
    width: 100%;
}

.first_section_article {
    max-width: 549px;
}

.first_section_article h1 {
    color: #1E1928;
    margin-bottom: 24px;
    font-family: Roboto;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 58px;
}

.first_section_p1 {
    color: rgba(30, 25, 40, 0.80);
    margin-bottom: 4px;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 187.5% */
    letter-spacing: 0.252px
}

.first_section_p2 {
    color: rgba(30, 25, 40, 0.80);
    margin-bottom: 28px;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
    letter-spacing: 0.252px;
}

.first_section_p3 {
    margin-bottom: 24px;
    color: #1E1928;
    font-family: Inter;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 176.471% */
    letter-spacing: 0.252px;
}

.first_section_form {
    border-radius: 9999px;
    background-color: #fff;
    width: calc(100% - 77px);
    display: flex;
    justify-content: space-between;
    padding: 8px 12px;
    max-width: 448px;
}

.first_section_form input {
    border: none;
    color: rgba(30, 25, 40, 0.23);
    background-color: transparent;
    padding: 10px 19px;
    outline: none;
}

.first_section_form button {
    padding: 10px 32px;
    border: none;
    border-radius: 9999px;
    background-color: #1E1928;
    color: #F4EFE9;
}

.submit_button {
    padding: 10px 30px;
    border: none;
    border-radius: 9999px;
    background-color: #1E1928;
    color: #F4EFE9;
    display: none;
}

.second_section {
    padding-top: 270px;
    padding-bottom: 78px;
    background-image: url(../images/F2.png);
    background-position: bottom -240px left 0px;
    background-color: rgba(255, 211, 148, 1);
    background-repeat: no-repeat;
    position: relative;
}

.second_section .container:nth-child(2) {
    max-width: 1280px;
}

.fixed_box {
    width: 100%;
    position: absolute;
    top: 0;
    background-color: #fff;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 80px;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.second_section .container:first-of-type h2 {
    color: #1E1928;
    text-align: center;
    font-family: Roboto;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 42px; /* 131.25% */
    margin-bottom: 28px;
    max-width: 1280px;
}

.second_section .container:first-of-type p {
    max-width: 653px;
    color: rgba(30, 25, 40, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
    letter-spacing: 0.252px;
    text-align: center;
    margin: auto;
    margin-bottom: 30px;
}

.fixed_container_link {
    border: 1px solid black;
    border-radius: 50px;
    padding: 10px 33px;
    text-decoration: none;
    color: black;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    flex-shrink: 0;
}

.second_section_head {
    color: #1E1928;
    font-family: Roboto;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 58px;
}

.second_section_list {
    display: flex;
    flex-direction: column;
}

.second_section_list li {
    display: flex;
    /*flex-direction: row;*/
    align-items: flex-start;
    list-style: none;
    color: rgba(30, 25, 40, 0.80);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    letter-spacing: 0.176px;
    margin-bottom: 40px;
}

.second_section_list li:before {
    display: inline-block;
    content: "";
    width: 40px;
    height: 40px;
    margin-right: 24px;
    background-repeat: no-repeat;
    flex-shrink: 0;
    transform: translateY(-7px);
}

.second_section_list li:first-of-type:before {
    background-image: url(../images/icon1.png);
}

.second_section_list li:nth-child(2):before {
    background-image: url(../images/icon2.png);
}

.second_section_list li:last-of-type:before {
    background-image: url(../images/icon3.png);

}

.second_section_list li h3 {
    color: #1E1928;
    font-family: Inter;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px; /* 152.941% */
    letter-spacing: 0.252px;
    margin-bottom: 10px;
}

.second_section_list li div {
    max-width: 536px;
}

.second_section_list li p {
    color: rgba(30, 25, 40, 0.80);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 166.667% */
    letter-spacing: 0.18px;
}


.third_section {
    background-color: #F4EFE9;
    display: flex;
    flex-wrap: wrap;
    padding-top: 80px;
    justify-content: space-around;

}

.third_section .container {
    margin-bottom: 80px;
}

.third_section .d-flex {
    justify-content: space-around;
    width: 100%;
    align-items: center;

}

.third_section_article {
    max-width: 600px;
}

.third_section .container:nth-child(2n) {
    flex-direction: row-reverse;
}

.list_of_images {
    position: relative;
    max-width: 600px;
    width: 100%;
    aspect-ratio: 1;
}

.phone_frame {
    position: relative;
    background-image: url('../images/back_img.png');
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
    background-size: cover;
    z-index: 5;
}

.phone_frame {
    position: relative;
    width: 100%;
    height: 100%;
}

.phone_frame img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.third_section .container:nth-child(4) .phone_frame img.left_image {
    top: 48%;
    width: 33%;
    height: 40%;
    z-index: 1;
}

.phone_frame img.frame {
    object-fit: cover;
    z-index: 5;
}

.third_section .container:first-of-type .phone_frame img.third_section_pics {
    top: 15%;
    right: 17%;
    left: auto; /* Сбрасываем left, чтобы работал right */
    width: 50%;
    height: auto;
    z-index: 10;

}

.third_section .container:nth-child(2) .phone_frame img.third_section_pics {
    top: 10%;
    left: 4.3%;
    width: 91%;
    height: auto;
    z-index: 10;
}

.third_section .container:nth-child(3) .phone_frame img.third_section_pics {
    top: 11%;
    left: 30%;
    width: 40%;
    height: auto;
    z-index: 10;
}

.third_section .container:nth-child(4) .phone_frame img.third_section_pics {
    top: 16%;
    left: 30%;
    width: 40%;
    z-index: 10;
}

.third_section .container:nth-child(5) .phone_frame img.third_section_pics {
    top: 30%;
    left: 35%;
    width: 32%;
    height: auto;
    z-index: 10;

}

.third_section_article h4 {
    color: #1E1928;
    font-family: Roboto;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 42px; /* 131.25% */
    margin-bottom: 24px;
}

.third_section_article p {
    color: rgba(30, 25, 40, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
    letter-spacing: 0.252px;
}

.third_section .container:nth-child(odd) h4,
.third_section .container:nth-child(odd) p {
    text-align: right;
}

.third_section .container:nth-child(even) h4,
.third_section .container:nth-child(even) p {
    text-align: left;
}

.fourth_section {
    padding-top: 144px;
    padding-bottom: 302px;
    text-align: center;
}

.fourth_section .container {
    max-width: 1440px;
}

.fourth_section h5 {
    margin-bottom: 80px;
    color: #1E1928;
    font-family: Inter, sans-serif;
    font-size: 17px;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0.25px;
}

.fourth_section .d-flex {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    margin-bottom: 80px;
    padding: 0 8px;
}

.fourth_section a {
    border-radius: 9999px;
    border: 1px solid #1E1928;
    text-decoration: none;
    color: #1E1928;
    background-color: #fff;
    padding: 10px 33px;
    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

.fifth_section {
    background-color: #592141;
    padding-top: 302px;
    position: relative;
    padding-bottom: 240px;
}

.fifth_section .fixed_box {
    padding-bottom: 76px;
}

.fifth_section .fixed_box h3 {
    color: #1E1928;
    margin-bottom: 28px;
    font-family: Roboto;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 42px;
}

.fifth_section .fixed_box p {
    max-width: 662px;
    margin: auto;
    /*text-align: center;*/
    color: rgba(30, 25, 40, 0.80);
    font-family: Inter;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 176.471% */
    letter-spacing: 0.252px;
}

.fifth_section .container:nth-child(2) {
    max-width: 830px;
    margin: auto;
    text-align: center;
}

.fifth_section .container:nth-child(2) p:after {
    display: block;
    content: "– Roger, 31, Ohio";
    max-width: 124px;
    font-size: 15px;
    margin: 32px auto 0;

}

.fifth_section h6 {
    color: #F4EFE9;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 187.5% */
    letter-spacing: 0.252px;
}

.fifth_section h6:after {
    background-image: url(../images/quotes.png);
    content: "";
    display: block;
    width: 41px;
    height: 35px;
    background-repeat: no-repeat;
    margin: 36px auto 36px;
/ / можно было поставить заголовку display: flex;
}

.fifth_section .container:nth-child(2) p {
    color: #F4EFE9;
    font-family: Roboto;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px; /* 120% */

}

.sixth_section {
    background-color: #EDE6DD;
    padding-top: 144px;
    padding-bottom: 264px;

}

.sixth_section h5 {
    color: #1E1928;
    font-family: Roboto;
    font-size: 31px;
    font-style: normal;
    font-weight: 400;
    line-height: 42px; /* 135.484% */
    margin-bottom: 64px;
    text-align: center;
}

.accordeon {
    display: flex;
    gap: 16px;
    justify-content: space-between;
}

.seventh_section {
    background-color: #1E1928;
    padding-top: 266px;
    padding-bottom: 138px;
    position: relative;
}

.seventh_section .d-flex {
    justify-content: space-around;
}


.seventh_section .fixed_box h5 {
    color: #1E1928;
    font-family: Roboto;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 42px;
    margin-bottom: 16px;
}

.seventh_section .fixed_box p {
    color: rgba(30, 25, 40, 0.64);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 157.143% */
    letter-spacing: 0.084px;
}

.seventh_section .d-flex:nth-child(2) {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.seventh_section .d-flex:nth-child(2) h6 {
    margin-bottom: 33px;
    color: #FFF;
    font-family: Inter;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 152.941% */
    letter-spacing: 0.252px;
}

.seventh_section .d-flex:nth-child(2) p {
    color: #EDE6DD;
    text-align: center;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 157.143% */
    letter-spacing: 0.084px;
}

.seventh_section .first_section_form {
    margin-bottom: 24px;
}

footer {
    background-color: #fff;
    padding-top: 64px;
}

.footer_top {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    grid-gap: 32px;
}

.footer_company a {
    display: block;
    text-decoration: none;
    color: #1E1928CC;
    opacity: 80%;
    font-family: Inter;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 16px;
}

.footer_company h6 {
    font-family: Inter;
    font-weight: 700;
    font-size: 17px;
    line-height: 26px;
    letter-spacing: 0.25px;
    color: #1E1928;
    margin-bottom: 16px;
}

.footer_resources a {
    display: block;
    text-decoration: none;
    color: #1E1928CC;
    opacity: 80%;
    font-family: Inter;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    margin-bottom: 16px;
}

.footer_resources h6 {
    font-family: Inter;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 0.25px;
    color: #1E1928;
    margin-bottom: 16px;
}

.footer_social {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;

}

.footer_social .subscribe_btn {
    padding: 10px 32px;
    background-color: #1E1928;
    color: #F4EFE9;
    border-radius: 9999px;
    font-family: Inter;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    height: 40px;
    margin-right: 10px;
    border: none;
}

.footer_social a {
    margin-right: 16px;
    text-decoration: none;
}

.footer_social a:last-of-type {
    margin-right: 0;
}

.footer_middle {
    padding-top: 114px;
    padding-bottom: 16px;
}

.footer_middle p {
    color: #1E1928A3;
    opacity: 64%;
    max-width: 665px;
    font-family: Inter;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.08px;
}

.footer_middle .app_links a:first-of-type {
    margin-right: 16px;
}

.footer_bottom .container p:first-of-type {

}

.footer_bottom {
    padding-bottom: 64px;
}

.glide {
    margin-bottom: 80px;
}

.faq {
    padding: 100px;
}

.faq h3 {
    color: black;
    font-size: 96px;
    font-family: Roboto;
    font-style: normal;
    text-align: center;
}

.faq .ui-accordion .ui-accordion-header {
    background-color: #FFFFFF;
    border: 2px solid black;
    border-radius: 10px;
    position: relative;
}

.ui-accordion .ui-accordion-content {
    background-color: #fff;
    border-radius: 10px;
    border: 2px solid black;

}

.ui-accordion .ui-accordion-header.ui-state-active {
    border-bottom: none;
    border-radius: 10px 10px 0 0;
}
.ui-accordion .ui-accordion-header.ui-state-active:before{
    transform: rotate(180deg) translateX(5px);

}
.ui-accordion .ui-accordion-content-active {
    border-top: none;
    border-radius: 0 0 10px 10px;
}

.ui-accordion .ui-accordion-header. .ui-icon {
    background-image: none;
}
.ui-accordion .ui-icon-triangle-1-s, .ui-icon-triangle-1-e {
    display: none;
}
.ui-accordion .ui-accordion-header:before {
    display: block;
    background-image: url('../images/arrow-icon.png');
    content: "";
    width: 20px;
    height: 15px;
    position: absolute;
    top: 30%;
    left: 5%;
    z-index: 10;
    background-size: contain;  //безэтогонеотобразитсястрелка
    background-repeat: no-repeat;

}