@media screen and (max-width: 1335px) {
    .fourth_section .d-flex img {
        max-width: 130px;
    }
}

@media screen and (max-width: 1282px) {
    .fixed_box {
        max-width: 80%;
    }

    .container {
        max-width: 80%;
    }
}

@media screen and (max-width: 1282px) {
    .first_section {
        padding-top: 0px;
        padding-right: 15px;
        padding-left: 15px;
    }

    .main_banner_image_div {
        max-width: 65%;
    }

    .sixth_section .accordeon {
        flex-wrap: wrap;
    }

    .sixth_section .accordeon img {
        max-width: 20%;
    }

    .second_section .container:nth-child(2) {
        max-width: 1000px;
    }

    .footer_top {
        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: 24px;
    }

    .footer_resources a, .footer_resources h6 {
        margin-bottom: 8px;
    }

    .footer_company a, h6 {
        margin-bottom: 8px;
    }

    .footer_social {
        display: grid;
        grid-template-rows: auto auto;
        justify-items: center;
        gap: 16px;
        grid-column: 2;
        grid-row: 1 / span 2;
        align-content: space-between;
        height: 100%;
    }

    .footer_social a {
        display: inline-flex;
    }


    .footer_social button {
        justify-self: center;
    }

    .footer_social a {
        margin: 0 6px;
    }

}

@media screen and (max-width: 1232px) {
    .fourth_section .d-flex {
        flex-wrap: wrap;
        gap: 10px;
    }

    .header {
        padding: 40px 15px

    }
}

@media screen and (max-width: 1000px) {

    .second_section .container:nth-child(2) {
        max-width: 800px;
    }

    .third_section_article h4 {
        font-size: 22px;
    }

    .third_section_article p {
        font-size: 15px;
    }

    .fifth_section {
        padding-top: 202px;
        padding-bottom: 80px;
    }

    .sixth_section {
        padding: 80px 0 124px;
    }

    .seventh_section {
        padding-top: 130px;
        padding-bottom: 80px;
    }

    .fixed_box {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .seventh_section .d-flex article p {
        max-width: 300px;
    }
}

@media screen and (max-width: 930px) {
    .fifth_section .container:nth-child(2) p {
        font-size: 20px;
    }

    .first_section_article h1 {
        font-size: 30px;
    }

    .fifth_section .first_section_article {
        max-width: 495px;
    }

}

@media screen and (max-width: 850px) {

    .first_section_article h1 {
        line-height: 30px;
    }

    .main_banner_image_div {
        display: none;
    }

    .first_section .d-flex {
        display: block;
    }

    .first_section_article {
        text-align: center;
        margin: auto;
    }

    .first_section {
        padding-top: 0;
    }

    .first_section .container .first_section_article p {
        line-height: 22px;
    }

    .fixed_box.fixed_box {
        padding: 40px 15px;
        left: 15px;
        right: 15px;
        width: auto;
        transform: translateY(-50%);
    }

    .fixed_box.container.container p {
        font-size: 15px;
    }

    .second_section .container:first-of-type h2 {
        margin-bottom: 15px;
    }

    .second_section .container.d-flex {
        align-items: baseline;
    }

    .second_section .container:first-of-type h2, .fifth_section .fixed_box h3, .seventh_section .fixed_box h5 {
        font-size: 25px;
    }

    .fixed_container_link {
        padding: 8px 20px;
    }

    .second_section_list li div {
        max-width: 300px;
    }

    .second_section_head {
        font-size: 30px;
    }

    .second_section {
        padding-right: 15px;
        padding-left: 15px;
        padding-top: 210px;
    }

    .second_section_list li:before {
        width: 30px;
        height: 30px;
        background-size: contain;
        margin-right: 15px;
        transform: translateY(2px);
    }

    .fixed_box.container.container p {
        line-height: 20px;
        max-width: 600px;
    }

    .third_section .container.d-flex {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .third_section .list_of_images {
        max-width: 280px;
    }

    .third_section article h4 {
        font-size: 18px;
        margin-bottom: 15px;
    }

    .third_section .container:nth-child(odd) h4,
    .third_section .container:nth-child(odd) p,
    .third_section .container:nth-child(even) h4,
    .third_section .container:nth-child(even) p {
        text-align: center;
        line-height: 1.5;
    }

    .fifth_section .container:nth-child(2) {
        max-width: 600px;
    }

    .submit_button {
        display: block;
        margin: auto;
    }

    .first_section_form {
        display: none;
    }

    .fourth_section {
        padding-top: 0;
        padding-bottom: 170px;
    }

    .fourth_section .d-flex img {
        flex-basis: 20%;
        max-width: 100px;
    }

    .fifth_section .fixed_box h3 {
        margin-bottom: 15px;
    }

    .sixth_section {
        padding-top: 65px;
        padding-bottom: 140px;
    }

    .sixth_section h5 {
        line-height: 30px;
        margin-bottom: 25px;
    }

    .seventh_section .submit_button {
        display: block;
        border: 1px solid white;
        margin-bottom: 20px;
    }

    .seventh_section {
        padding-top: 152px;
    }

    .seventh_section .fixed_box h5 {
        line-height: 20px;
    }
}

@media screen and (max-width: 760px) {
    .footer_middle p {
        max-width: 100px;
    }
}
@media screen and (max-width: 650px) {
    .second_section {
        padding-bottom: 30px;
    }

    .fifth_section .container:nth-child(2) {
        max-width: 300px;
    }

    .fifth_section .container:nth-child(2) p {
        font-size: 15px;
    }

    .second_section .container:first-of-type h2, .fifth_section .fixed_box h3, .seventh_section .fixed_box h5 {
        font-size: 20px;
    }

    .seventh_section .fixed_box.fixed_box p {
        font-size: 12px;
        line-height: 15px;
    }

    .seventh_section .fixed_box h5 {
        margin-bottom: 10px;
    }

    .fixed_box.fixed_box {
        padding: 20px 15px;
    }

    .seventh_section {
        padding: 80px 0 40px 0;
    }
}

@media screen and (max-width: 480px) {
    .second_section .fixed_box {
        padding: 20px 15px;
    }

    .second_section .container:first-of-type h2 {
        font-size: 22px;
        margin-bottom: 0;
    }
}

