.red {
    flex-basis: 150px;
    margin: 10px;
    background-color: red;
    flex-grow: 1;
    flex-shrink: 0;/*растягиваемость эл-та*/
    padding-top: 50px;
    order: 3;

}

.green {
    flex-grow: 2;
    margin: 10px;
    background-color: green;
/*padding-top: 100px;*/
    align-self: center;
    order: 2;
}

.blue {
    flex-grow: 3;
    margin: 10px;
    background-color: blue;
    order: 1;
}

.parent {
    display: flex;
    /*flex-direction: column-reverse;*/
    /*flex-direction: row-reverse;*/
    justify-content: space-around; /*выравнивание по горизонтали, блоки распр-ся РАВНОМЕРНО*/
    /*justify-content: flex-start; !*блоки прижим-ся к левому краю*!*/
    align-items: stretch; /*блоки растяг-ся на всю доступную высоту (по высоте род-го конт-ра или самого большого эл-та, с учётом указан-х min и max-width */
    /*align-items: baseline; !*все блоки появл-ся от того места, где начинается контент*!*/
    flex-wrap: wrap-reverse;
    /*flex-flow: row-reverse wrap-reverse;*/ /* flex-direction + flex-wrap*/
    align-content: space-between; /*управляет строками блоков, только при наличии !!!высоты род-го контейнера!!!*/
}