*{
    box-sizing: border-box;
}

body {
    background-color: black;
}

.footer {
    padding-top: 69px;
}

.footer_div {
    max-width: 940px;
    margin: auto;
}

.form_div {
    max-width: 564px;
    margin: auto;
}

#name_input {
    font-family: Vollkorn, serif;
    font-style: italic;
    background: rgba(255, 255, 255, 0.18);
    color: white;
    width: 100%;
    border: none;
    padding: 17px 0 17px 31px;
}


#email {
    background: rgba(255, 255, 255, 0.2);
    font-family: Vollkorn, serif;
    font-style: italic;
    color: white;
    width: 100%;
    padding: 17px 0 17px 31px;
    border: none;
}

#budget {
    font-family: Vollkorn, serif;
    font-style: italic;
    background: rgba(255, 255, 255, 0.18);
    color: white;
    width: 100%;
    border: none;
    padding: 17px 0 17px 31px;

}

#comment {
    background: rgba(255, 255, 255, 0.2);
    font-family: Vollkorn, serif;
    font-style: italic;
    color: white;
    width: 100%;
    border: none;
    resize: none;
    padding: 17px 0 17px 31px;
    height: 127px;
    margin-bottom: 30px;
}
.form_button{
    font-family: Vollkorn, serif;
    font-style: italic;
    background: rgba(255, 255, 255, 0.18);
    color: rgba(126, 196, 189, 1);
    width: 100%;
    border: rgba(126, 196, 189, 1) 1px solid;
    border-bottom: rgba(126, 196, 189, 1) 2px solid;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    max-width: 210px;
   display: block;
    margin: auto;

}